:root {
  --main-color-text: #2e2f42;
  --second-color-text: #434455;
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
}
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--second-color-text);
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* ============HEADER============ */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  color: var(--main-color-text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.span-logo {
  color: var(--brand-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current {
  color: var(--pressed-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-color);
}

.header-link.current::after {
  bottom: -24px;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-color);
}

/* ============HERO============ */
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/logo.jpg);
  background-color: var(--main-color-text);
  padding-top: 188px;
  padding-bottom: 188px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  max-width: 496px;
  text-align: center;
  margin: auto;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}
.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-color);
}

/* ============BENEFITS============ */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  max-width: 264px;
}

.benefits-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;

  height: 112px;
  background: #f4f4fd;
}
.icon-antenna {
}
.benefits-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  margin-bottom: 8px;
}
.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
/* ============GALLERY============ */
.gallery {
  padding-bottom: 120px;
}
.gallery-container {
}
.gallery-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text);
}

.gallery-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 72px;
}

.gallery-item {
  max-width: calc((100%-24px * 2) / 3);
}
/* ============TEAM============ */
.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  width: 264px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: calc((100%-24px * 3) / 4);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text);
}

.team-item-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  margin-bottom: 8px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--second-color-text);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--pressed-color);
}

/* ============CUSTOMERS============ */
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text);
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--pressed-color);
  border: 1px solid var(--pressed-color);
}
/* ============FILTER============ */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  padding: 12px 24px;
}
.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--pressed-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ============PRODUCTS============ */
.products {
  padding-top: 96px;
  padding-bottom: 120px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.products-item {
  width: 360px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  max-width: calc((100%-24px * 2) / 3);
}

.products-item:hover .products-link-text {
  transform: translateY(0);
}

.products-link-wrap {
  position: relative;
  overflow: hidden;
}

.products-link-text {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  height: 100%;
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--brand-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.products-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover,
.products-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.products-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  margin-bottom: 8px;
}
.products-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}

.products-item-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
/* ============FOOTER============ */
.footer {
  background-color: var(--main-color-text);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo-span {
  color: var(--brand-color);
}
.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-soc {
}
.footer-soc-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
}

.footer-subscribe-text {
  height: 24px;
  width: 100%;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-subscribe-wrap {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  max-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: var(--brand-color);
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--pressed-color);
}

.subscribe-icon {
  fill: #ffffff;
}
/* ============BACKDROP============ */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-color);
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  margin-bottom: 16px;
}

.input-text {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 38px;
  padding-right: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcfcfc;
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--brand-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}
.modal-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--brand-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcfcfc;
}

.modal-textarea:focus,
.modal-textarea:hover {
  color: black;
  border-color: var(--brand-color);
}

.user-policy-label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.user-policy-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-color-text);
  border-radius: 2px;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.user-policy-checkbox:checked + .user-policy-label::before {
  background-image: url(../images/checkbox.svg);
  background-color: var(--pressed-color);
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.user-policy-checkbox:focus,
.user-policy-checkbox:hover + .user-policy-label::before {
  border-color: var(--pressed-color);
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-color);
}

.modal-btn-wrap {
  text-align: center;
}
